.card{
  width: 200px;
  height: 270px;
  padding: 20px;
  box-shadow: 3px 3px 20px lightgray;
  border: 1px solid rgb(231, 228, 228);
  text-align: center;
}

.card p{
  color: rgb(176, 173, 173);
}

.card img {
  width: 150px;
}
